<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
				<style>
/* app.css */
{% include 'css/app.css' %}

/* app-screen.css */
{% include 'css/app-screen.css' %}
				</style>
        <!-- Style block allowing child pages to inject their own styles -->
        
    </head>
    <body>
        <!-- Include -->
        <nav id="mobileNav" onclick="toggle( 'toggleMe' )">
	<img src='/_img/hamburger.svg' id="hamburger"/>
	<nav id="toggleMe" style="display:none;">{% block navMobile %}{% endblock %}	</nav>
</nav>
        <div id="mainNav">
	{% block navMain %}{% endblock %}	
	<nav id='social'>
	<h2>contact</h2>
	
	<a href='mailto:tom@technomad.media?Subject=Job | from wommytilliams.com' target="_blank">
		<img class='social' src='/_img/social/email.svg'>
		<h2>tom@technomad.media</h2>
	</a>
	
	<a href='#' onclick=" noDiscriminate(' https://www.facebook.com/Froggie92 ') ">
		<img class='social' src='/_img/social/facebook.svg'>
		<h2>facebook</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' http://twitter.com/froggie92 ') ">
		<img class='social' src='/_img/social/twitter.svg'>
		<h2>twitter</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' https://plus.google.com/u/0/118102255716845472363/posts ') ">
		<img class='social' src='/_img/social/google-plus.svg'>
		<h2>google+</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' https://instagram.com/wommytilliams/ ') ">
		<img class='social' src='/_img/social/instagram.svg'>
		<h2>instagram</h2>
	</a>
</nav>
</div>
        
        <!-- Content block, child page inject content -->
        <div id='content'>{% block content %}{{ content | safe }}{% endblock %}        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        
        <script>
{% include 'scripts/app.js' %}
		</script>
    </body>
</html>
