---
permalink: inspiration/inspiration.html
title: Empty
dots: '../'
---
{% extends '_base.html' %}

{% block navMobile %}
		<a href="../index.html">home</a><span>Experience</span><a href="../experience/branding.html">Branding</a><a href="../experience/clients.html">Clients</a><a href="../experience/resume.html">Resume</a><span>Experiments</span><a href="../experiments/feed.html">Feed</a><a href="../experiments/grid.html">Grid</a><a href="../media.html">Media</a>
{% endblock %}

{% block navMain %}
	<nav><h2><a href="../index.html">Home</a></h2><h2><span>Experience</span><nav><h2><a href="../experience/branding.html">Branding</a></h2><h2><a href="../experience/clients.html">Clients</a></h2><h2><a href="../experience/resume.html">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="../experiments/feed.html">Feed</a></h2><h2><a href="../experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="../media.html">Media</a></h2></nav>
{% endblock %}

{% block content %}
            
<p>here i want to list a few words that my design exemplifies</p>

<blockquote>
  <p>simple<br />
concise<br />
clean<br />
eloquent<br />
minimal<br />
transparency</p>
</blockquote>

<p>and a few websites that have inspired me.</p>

<blockquote>
  <p><a href="http://facsrv.cdm.depaul.edu/~cmiller/">http://facsrv.cdm.depaul.edu/~cmiller/</a><br />
- a teacher of mine, one of the first websites i encountered that put <a href="http://ims21.net/web_form_function.htm">function over form</a></p>
</blockquote>

<blockquote>
  <p><a href="http://itemsandthings.com/">http://itemsandthings.com/</a><br />
-  one of my favorite music labels. their brand's dedication to minimalism is conveyed thoroughly, from their music to their web design.<br />
- <a href="http://www.wanna-rework.de/">http://www.wanna-rework.de/</a><br />
- - one of the musicians websites on the above label </p>
</blockquote>

<p>and a few quotes that have inspired me</p>

<p><a href="http://i.imgur.com/0MAncfi.png"><img src="http://i.imgur.com/0MAncfi.png" width="100%" /></a><br />
<!-- http://www.reddit.com/r/terencemckenna/comments/32rp8t/a_quote_that_really_grabbed_me_from_terences/ --></p>

{% endblock %}
