---
permalink: home/introduction.html
title: Empty
dots: '../'
---
{% extends '_base.html' %}

{% block navMobile %}
		<a href="../index.html">home</a><span>Experience</span><a href="../experience/branding.html">Branding</a><a href="../experience/clients.html">Clients</a><a href="../experience/resume.html">Resume</a><span>Experiments</span><a href="../experiments/feed.html">Feed</a><a href="../experiments/grid.html">Grid</a><a href="../media.html">Media</a>
{% endblock %}

{% block navMain %}
	<nav><h2><a href="../index.html">Home</a></h2><h2><span>Experience</span><nav><h2><a href="../experience/branding.html">Branding</a></h2><h2><a href="../experience/clients.html">Clients</a></h2><h2><a href="../experience/resume.html">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="../experiments/feed.html">Feed</a></h2><h2><a href="../experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="../media.html">Media</a></h2></nav>
{% endblock %}

{% block content %}
            
<p><img src="assets/img/wommyBig.jpg" class="wommyImg" /></p>

<h2>welcome to my portfolio</h2>

<p>feel free to check out </p>

<blockquote>
  <p><a href="../media.html">my media</a><br />
<a href="../experience/clients.html">my clients</a></p>
</blockquote>

<blockquote>
  <p>my experiments</p>
</blockquote>

<blockquote>
  <blockquote>
    <p><a href="../experiments/feed.html">feed</a><br />
<a href="../experiments/grid.html">grid</a></p>
  </blockquote>
</blockquote>


{% endblock %}
