<!doctype html>
<html lang="en">
    <head>
				{%- block head %}
        <!-- Title block allowing child pages to override -->
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="image/ico" href="{{ dots }}favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        <link href="{{ dots }}assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ dots }}assets/css/app-screen.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!-- Style block allowing child pages to inject their own styles -->
{% endblock -%}
{# hacky #}        
    </head>
    <body>
				{%- block nav %}{% endblock -%}
{# hacky #}        {# hacky #}
        
				{%- block content %}{{ content | safe }}{% endblock -%}
{# hacky #}    </body>
</html>
