<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="/assets/css/app2.css" rel="stylesheet" />
    <link href="/assets/css/app-screen3.css" rel="stylesheet" />
  </head>
  <body>
    {% include 'nav-super.html' %}
    <div id='content'>
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </div>
    <script src="/assets/scripts/toggle.js"></script>
    <script src="/assets/scripts/confirm.js"></script>
  </body>
</html>
