<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>branding</title>
        <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="../assets/css/app-screen.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!-- Style block allowing child pages to inject their own styles -->
        
    </head>
    <body>
        <!-- Include -->
        <nav id="mobileNav" onclick="toggle( 'toggleMe' )">
	<img src='../assets/img/hamburger.svg' id="hamburger"/>
	<nav id="toggleMe" style="display:none;">
		<a href="../index.html">home</a><span class="selected">Experience</span><a href="branding.html" class="selected">Branding</a><a href="clients.html">Clients</a><a href="resume.html">Resume</a><span>Experiments</span><a href="../experiments/feed.html">Feed</a><a href="../experiments/grid.html">Grid</a><a href="../media.html">Media</a>
	</nav>
</nav>
        <div id="mainNav">
	
	<nav><h2><a href="../index.html">Home</a></h2><h2 class="selected"><span class="selected">Experience</span><nav><h2 class="selected"><a href="branding.html" class="selected">Branding</a></h2><h2><a href="clients.html">Clients</a></h2><h2><a href="resume.html">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="../experiments/feed.html">Feed</a></h2><h2><a href="../experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="../media.html">Media</a></h2></nav>
	
	{% include 'nav-social.html' -%}
</div>
        
        <!-- Content block, child page inject content -->
        <div id='content'>
             
{{ content | safe }}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        
        <script src="../assets/scripts/app.min.js"></script>
    </body>
</html>
