{% extends 'Sans.html' %}

{%- block nav -%}
<nav id="mobileNav" onclick="toggle( 'toggleMe' )">
	<img src='assets/img/hamburger.svg' id="hamburger"/>
	<nav id="toggleMe" style="display:none;">
		<a href="index.html" class="selected">home</a><span>Experience</span><a href="experience/branding.html">Branding</a><a href="experience/clients.html">Clients</a><a href="experience/resume.html">Resume</a><span>Experiments</span><a href="experiments/feed.html">Feed</a><a href="experiments/grid.html">Grid</a><a href="media.html">Media</a>
	</nav>
</nav>
        <div id="mainNav">
	
	<nav><h2 class="selected"><a href="index.html" class="selected">Home</a></h2><h2><span>Experience</span><nav><h2><a href="experience/branding.html">Branding</a></h2><h2><a href="experience/clients.html">Clients</a></h2><h2><a href="experience/resume.html">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="experiments/feed.html">Feed</a></h2><h2><a href="experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="media.html">Media</a></h2></nav>
  {% include 'nav-new.html' -%}
	
	{% include 'nav-Social.html' -%}
</div>
        {% endblock %}

{{ content | safe }}
