<nav id='social'>
	<h2>contact</h2>
	
	<a href='mailto:tom@technomad.media?Subject=Job | from wommytilliams.com' target="_blank">
		<img class='social' src='../assets/img/social/email.svg'>
		<h2>tom@technomad.media</h2>
	</a>
	
	<a href='#' onclick=" noDiscriminate(' https://www.facebook.com/Froggie92 ') ">
		<img class='social' src='../assets/img/social/facebook.svg'>
		<h2>facebook</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' http://twitter.com/froggie92 ') ">
		<img class='social' src='../assets/img/social/twitter.svg'>
		<h2>twitter</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' https://plus.google.com/u/0/118102255716845472363/posts ') ">
		<img class='social' src='../assets/img/social/google-plus.svg'>
		<h2>google+</h2>
	</a>
	<a href='#' onclick=" noDiscriminate(' https://instagram.com/wommytilliams/ ') ">
		<img class='social' src='../assets/img/social/instagram.svg'>
		<h2>instagram</h2>
	</a>
</nav>
