<nav id="mobileNav" onclick="toggle( 'toggleMe' )">
	<img src="/assets/img/hamburger.svg" id="hamburger" />
	<nav id="toggleMe" style="display: none">
		<a href="/" class="selected">home</a>
		<span>Experience</span>
		<a href="/experience/branding">Branding</a>
		<a href="/experience/clients">Clients</a>
		<a href="/experience/resume">Resume</a>
		<span>Experiments</span>
		<a href="/experiments/feed">Feed</a>
		<a href="/experiments/grid">Grid</a>
		<a href="/media">Media</a>
	</nav>
</nav>

<div id="mainNav">
	<nav>
		<h2 class="selected"><a href="/" class="selected">Home</a></h2>
		<h2>
			<span>Experience</span>
			<nav>
				<h2><a href="/experience/branding">Branding</a></h2>
				<h2><a href="/experience/clients">Clients</a></h2>
				<h2><a href="/experience/resume">Resume</a></h2>
			</nav>
		</h2>
		<h2>
			<span>Experiments</span>
			<nav>
				<h2><a href="/experiments/feed">Feed</a></h2>
				<h2><a href="/experiments/grid">Grid</a></h2>
			</nav>
		</h2>
		<h2><a href="/media">Media</a></h2>
	</nav>

	<nav id="social">
		<h2>contact</h2>

		<a
			href="mailto:tom@technomad.media?Subject=Job | from wommytilliams.com"
			target="_blank"
		>
			<img class="social" src="/assets/img/social/email.svg" />
			<h2>tom@technomad.media</h2>
		</a>

		<a
			href="#"
			onclick=" noDiscriminate(' https://www.facebook.com/Froggie92 ') "
		>
			<img class="social" src="/assets/img/social/facebook.svg" />
			<h2>facebook</h2>
		</a>

		<a href="#" onclick=" noDiscriminate(' http://twitter.com/froggie92 ') ">
			<img class="social" src="/assets/img/social/twitter.svg" />
			<h2>twitter</h2>
		</a>

		<a
			href="#"
			onclick=" noDiscriminate(' https://plus.google.com/u/0/118102255716845472363/posts ') "
		>
			<img class="social" src="/assets/img/social/google-plus.svg" />
			<h2>google+</h2>
		</a>

		<a
			href="#"
			onclick=" noDiscriminate(' https://instagram.com/wommytilliams/ ') "
		>
			<img class="social" src="/assets/img/social/instagram.svg" />
			<h2>instagram</h2>
		</a>
	</nav>
</div>
