{% extends 'Dot2.html' %}

{%- block nav -%}
<nav id="mobileNav" onclick="toggle( 'toggleMe' )">
	<img src='../assets/img/hamburger.svg' id="hamburger"/>
	<nav id="toggleMe" style="display:none;">
		<a href="../index.html">home</a><span class="selected">Experience</span><a href="branding.html">Branding</a><a href="clients.html">Clients</a><a href="resume.html" class="selected">Resume</a><span>Experiments</span><a href="../experiments/feed.html">Feed</a><a href="../experiments/grid.html">Grid</a><a href="../media.html">Media</a>
	</nav>
</nav>
        <div id="mainNav">
	
	<nav><h2><a href="../index.html">Home</a></h2><h2 class="selected"><span class="selected">Experience</span><nav><h2><a href="branding.html">Branding</a></h2><h2><a href="clients.html">Clients</a></h2><h2 class="selected"><a href="resume.html" class="selected">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="../experiments/feed.html">Feed</a></h2><h2><a href="../experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="../media.html">Media</a></h2></nav>
	
	{% include 'nav-social.html' -%}
</div>
        {% endblock %}

{{ content | safe }}
