<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{{title}}</title>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="assets/css/app-screen.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!-- Style block allowing child pages to inject their own styles -->
        
    </head>
    <body>
        <!-- Include -->
        {% block nav %}{% endblock %}
        <!-- Content block, child page inject content -->
        <div id='content'>
            
{{ content | safe }}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        
        <script src="assets/scripts/app.min.js"></script>
    </body>
</html>
