---
---

<p>
  an extremely talented artist
  <br />
  but also a good friend from highschool
</p>

<p>recently has been blowing up in the detroit art scene</p>

<blockquote>
  <p>
    <a
      href="http://www.redbull.com/us/en/stories/1331690125340/nick-pizana-at-red-bull-house-of-art"
    >
      read about his installation at the Red Bull House of Art
    </a>
  </p>
</blockquote>

<blockquote>
  <p>
    <a
      href="http://www.examiner.com/list/5-detroit-artists-25-or-under-to-watch-2015"
    >
      1 of the 5 under 25 detroit artists to watch in 2015
    </a>
  </p>
</blockquote>

<p>
  i created and hosted a simple website for him
  <br />
  which we are currently overhauling
</p>

<blockquote>
  <p><a href="nickpizana.technomad.media">nickpizana.technomad.media</a></p>
</blockquote>

<p>follow him on social media:</p>

<blockquote>
  <p>
    <a href="https://www.facebook.com/nickypistheman">facebook</a>
    <br />
    <a href="instagram.com/hyper_mutant.html">instagram ( @hyper_mutant )</a>
  </p>
</blockquote>
