---
import Blank from '../../layouts/blank.astro'
import { Markdown } from 'astro/components'
---
<Blank title='resume'>
  <article>
    <Markdown>
      <!-- 
      <a href="../assets/resume-tommyWilliams-headshot.pdf" target="_blank">view in a new tab</a> -  <a href="../assets/resume-tommyWilliams-headshot.pdf" download>download</a>
      -->

      ### nav

      1. [contact](#contact)
      2. [experience](#experience)
      3. [education](#education)
      4. [expertise](#expertise)
          - [design](#ui-ux) [development, front end](#front)
          - [development, back end](#back)
          - [database](#database)
          - [deployment](#deployment)
          - [other](#other)
      5. [hobbies](#hobbies)

      <h3 id="contact">contact</h3>

      > portfolio: [wommytilliams.com](//wommytilliams.com)  
      > email: [tom@technomad.media](mailto:tom@technomad.media)

      <!-- phone:   [312 818 9011](tel:312-818-9011)
      address:   [1426 W Chestnut #1R Chicago IL 60642](//google.com/maps/place/1426+W+Chestnut+St,+Chicago,+IL+60642/@41.898204,-87.663567,17z/data=!4m2!3m1!1s0x880fd2d37995e65f:0x4a79f787069b8ac) -->

      > _four year goal:_  
      > **senior full-stack developer** @  
      > a **media** or **ecommerce** company

      <h3 id="education">education</h3>

      > **depaul graduated 2015**  
      > bachelor of arts: [psychology](#psych)  
      > minor: interactive social media  
      > dean's list: 5 quarters

      > **columbia college ( 2 years )**  
      > film + music composition  
      > honor roll: 2 semesters

      <h3 id="experience">experience</h3>

      **solution people**

      > managed 30+ websites  
      > redesign  
      > created, edited, pushed content  
      > contact: [gerald haman](mailto:solutionman@solutionpeople.com)

      **branding**

      > froggie92  
      > wommy tilliams  
      > technomad

      **clients**

      > x, y, z

      ### ui-ux - minor in school

      **?# of projects**

      **mockups / wireframes / site-mapping**

      - [balsamiq](//balsamiq.com/)
      - [axure](//axure.com/)
      - [sketch](//bohemiancoding.com/sketch/)
      - [atomic](//atomic.io/)
      - adobe - illustrator / photoshop

      **physical media**

      - [paper prototypes](//en.wikipedia.org/wiki/Paper_prototyping)
      - [human-computer interaction](//en.wikipedia.org/wiki/Human%E2%80%93computer_interaction)

      [rapid prototyping](//en.wikipedia.org/wiki/Rapid_prototyping)

      - agile
      - scrum

      <!-- TODO: butts
      google
      :: agile
          //agilemanifesto.org/
          //allaboutagile.com/what-is-agile-10-key-principles/
          //en.wikipedia.org/wiki/Agile_software_development
          //agilemethodology.org/ 
      -->

      **front end / back end :: gui / db => pass to dev**

      <h3 id="front">frontend - started 2011</h3>

      HTML5

      - [liquid](//liquidmarkup.org/) / [jade](//jade-lang.com/) / [haml](//haml.info/) / [slim](//slim-lang.com/)
      - [bootstrap](//getbootstrap.com/) / [foundation](//foundation.zurb.com/)

      CSS3

      - [sass / scss](//sass-lang.com/) - [compass](//compass-style.org/)
      - [less](//lesscss.org/) / [stylus](//learnboost.github.io/stylus/)

      JAVASCRIPT

      - [jquery](//jquery.com/) / [coffeescript](//coffeescript.org/)
      - [json](//json.org/) / [ajax](//en.wikipedia.org/wiki/Ajax_%28programming%29) / [amd](//en.wikipedia.org/wiki/Asynchronous_module_definition)
      - [js hint](//jshint.com/)
      - [threejs](//threejs.org/)

      <h3 id="back">backend languages / frameworks</h3>

      PHP

      - [wordpress](//wordpress.org/) / [drupal](//drupal.org/) / [joomla](//joomla.org/) / [magento](//magento.com/)
      - [laravel](//laravel.com/) / [symphony](//symfony.com/) + [sylius](//sylius.org/) / [zend](//framework.zend.com/)

      RUBY

      - [rails](//rubyonrails.org/) / [jekyll](//jekyllrb.com/)

      PYTHON

      - [django](//djangoproject.com/) / [flask](//flask.pocoo.org/) / [hyde](//hyde.github.io/) / [pelican](//blog.getpelican.com/)

      JAVASCRIPT

      - [angular](//angularjs.org/) / [backbone](//backbonejs.org/) / [ember](//emberjs.com/) / [knockout](//knockoutjs.com/) / [meteor](//meteor.com/) / [phantomjs](//phantomjs.org/)
      - [node](//nodejs.org/)
        - [express](//expressjs.com/)
        - [ghost](//ghost.org/)
      - [react](//facebook.github.io/react/) + [flux](//facebook.github.io/flux/)

      <h3 id="database">database</h3>

      - [mysql](//en.wikipedia.org/wiki/SQL) / [postgresql](//postgresql.org/about/) / [nosql](//en.wikipedia.org/wiki/NoSQL)
        - [mongo](//mongodb.org/)

      <h3 id="deployment">deployment</h3>

      - [require](//requirejs.org/) / [browserify](//browserify.org/) / [common](//commonjs.org/) / [npm](//npmjs.com/) / [bower](//bower.io/)
      - [grunt](//gruntjs.com/) / [gulp](//gulpjs.com/)
      - [yeoman](//yeoman.io/) / [vagrant](//vagrantup.com/) / [composer](//getcomposer.org/) / [capistrano](//capistranorb.com/)

      <h3 id="other">other</h3>

      <ul>
        <li>[git](//git-scm.com/) / [ssh](//en.wikipedia.org/wiki/Secure_Shell) / [ssl](//en.wikipedia.org/wiki/Transport_Layer_Security) / [ftp](//en.wikipedia.org/wiki/File_Transfer_Protocol)</li>
        <li id="psych">psych</li>
          - test creation
          - data collection
          - statistical analysis
      </ul>

      <h3 id="hobbies">hobbies</h3>

      - kungfu - 1 year
      - biking - 6

    </Markdown>
  </article>
</Blank>