---
permalink: clients/eightcell.html
title: Empty
dots: '../'
---
{% extends '_base.html' %}

{% block navMobile %}
		<a href="../index.html">home</a><span>Experience</span><a href="../experience/branding.html">Branding</a><a href="../experience/clients.html">Clients</a><a href="../experience/resume.html">Resume</a><span>Experiments</span><a href="../experiments/feed.html">Feed</a><a href="../experiments/grid.html">Grid</a><a href="../media.html">Media</a>
{% endblock %}

{% block navMain %}
	<nav><h2><a href="../index.html">Home</a></h2><h2><span>Experience</span><nav><h2><a href="../experience/branding.html">Branding</a></h2><h2><a href="../experience/clients.html">Clients</a></h2><h2><a href="../experience/resume.html">Resume</a></h2></nav></h2><h2><span>Experiments</span><nav><h2><a href="../experiments/feed.html">Feed</a></h2><h2><a href="../experiments/grid.html">Grid</a></h2></nav></h2><h2><a href="../media.html">Media</a></h2></nav>
{% endblock %}

{% block content %}
            
<blockquote>
  <p><em>the most simple / efficient way</em><br />
<em>to catapault your next event</em><br />
<em>to the stratosphere</em></p>
</blockquote>

<p>operating out of chicago, they combine digital art, projection mapping, and interactive installs to make your event out of this world.  </p>

<blockquote>
  <p><a href="https://www.facebook.com/EightCell">facebook.com/EightCell</a>  </p>
</blockquote>

<blockquote>
  <p><a href="https://www.youtube.com/channel/UC4GsWU1uZAa5e3G1owi9K1g">youtube</a>  </p>
</blockquote>

<p>heres a site a made for them a couple years ago:  </p>

<blockquote>
  <p><a href="http://technomad.media/8c/">technomad.media/8c/</a></p>
</blockquote>

<p>and heres the new underconstruction site:  </p>

<blockquote>
  <p><a href="eightcell.tv">eightcell.tv</a></p>
</blockquote>

<h3>meet the team:</h3>
<p>truman - [ sophos visuals ]  </p>

<blockquote>
  <p><a href="https://instagram.com/sophosvisuals/">instagram.com/sophosvisuals</a>  </p>
</blockquote>

<blockquote>
  <p><a href="https://www.facebook.com/sophos.visuals">facebook.com/sophos.visuals</a>  </p>
</blockquote>

<p>bill - [ dubstompin / biww ] </p>

<blockquote>
  <p><a href="instagram.com/dubstompin.html">instagram.com/dubstompin</a></p>
</blockquote>

<blockquote>
  <p><a href="https://soundcloud.com/dubstompin">soundcloud.com/dubstompin</a></p>
</blockquote>

<blockquote>
  <p><a href="https://www.facebook.com/bill.pilipchuk">facebook.com/bill.pilipchuk</a><br />
 <a href="https://www.facebook.com/DubStompinChicago">facebook.com/DubStompinChicago</a><br />
 <a href="https://www.facebook.com/whosbiww">facebook.com/whosbiww</a></p>
</blockquote>

<p>brandyn - [ mr Zpacely ] </p>

<blockquote>
  <p><a href="https://instagram.com/zpacepix/">instagram.com/zpacepix</a>  </p>
</blockquote>

<blockquote>
  <p><a href="https://www.youtube.com/channel/UCdE8MPlhBRh1po3FbHFag8A">youtube</a>  </p>
</blockquote>

<blockquote>
  <p><a href="https://www.facebook.com/brandyn.micheal">facebook</a>  </p>
</blockquote>


{% endblock %}
